.app {
  height: 100vh;
  background-color: var(--verde);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 48px;
  width: auto;
  margin-right: 10px;
}
.titulo {
  color: var(--branco);
  font-size: 34px;
}
.paragrafo {
  color: var(--branco);
  font-size: 13px;
  letter-spacing: 1.7px;
}
.botao {
  position: absolute;
  bottom: 150px;
}
