.botao {
  width: 260px;
  height: 47px;
  font-size: 14px;
  font-weight: 600;
  color: var(--verde);
  border-radius: 12px;
  border: none;
  background-color: var(--cinza-claro);
}
.botao:hover {
  background-color: var(--cinza-hover);
}
.botaoPequeno {
  width: 45px;
  height: 45px;
  font-size: 11px;
  border-radius: 15px;
  border: none;
  background-color: var(--verde);
  display: flex;
  align-items: center;
  justify-content: center;
}
