.container {
  background-color: var(--branco);
  text-align: center;
  width: 175px;
  height: 250px;
  border-radius: 18px;
  border: 1px solid var(--cinza-claro);
}
img {
  margin: 20px 0 15px 0;
}
h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
p {
  font-size: 14px;
  margin-bottom: 5px;
}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.botao {
  display: flex;
  justify-content: center;
}
