.cadastro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 50px;
  margin-bottom: 40px;
}
.loginContainer {
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 20px;
}
.subtitulo {
  margin: 5px 0 25px 0;
  font-size: 14px;
  color: var(--cinza);
}
.input {
  font-weight: 500;
}
.input input {
  display: flex;
  width: 280px;
  border: none;
  border-bottom: 1px solid #999;
  padding: 10px 5px;
  outline: none; /* Remove o contorno ao focar */
  flex-direction: column;
  justify-content: start;
  margin-bottom: 20px;
  color: var(--verde);
}
.input input:focus {
  border-bottom: 1px solid #999; /* Mantém a linha ao focar */
  outline: none;
}
.input input::placeholder {
  color: var(--cinza);
}
.botoesContainer {
  display: flex;
  justify-content: center;
  width: 100%; /* Garante que o container ocupe a largura total do formulário */
}
.novaConta {
  margin-top: 15px;
  font-size: 13px;
}
.cadastrarNovaConta {
  text-decoration: none;
  color: var(--verde);
  font-weight: 600;
}
